/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color:#040528;
}
.navbar-brand {

}
.container{
  height: 110% auto;
  margin-top: 50px;
}
.test{
  height: 100px;
  background-color: red;
  margin-top: 10px;
  padding:-20px;
  margin-left: 2px
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */


/* Set black background color, white text and some padding */
footer {
  background-color:#040528;
  color: #a3abb7;
  padding: 15px;
  bottom:0px;
  height:20%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
/* Remove the navbar's default margin-bottom and rounded borders */
/* On small screens, set height to 'auto' for sidenav and grid */
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}
.searchbar{
  width:40%;
}
.team_diaplay{
  float: left;
  width: 30%;
  margin-right: 3%
}
.chart {
    width: 50%;
    float:left;

}

.good{
  background-color: #00ff0c ; 
}
.avarage{
  background-color: #faff00;
}
.bad{
  background-color: #ff0000 ;
}

.student-dialog-class{
  border-style: solid;
}
.dash_lable{
  margin-left: 10px; width: 80%; border-radius: 15px; text-align: center;
}
.active a{
  color: white;
}