<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<script src="{% static "dashboard_app/JS/make_dialog.js" %}"></script>
{% if message %}
<script type="text/javascript">
  // alert('{{message}}')
  Swal.fire({
  type: 'error',
  title: 'Oops...',
  text: 'Something went wrong! Error May Be {{message}}'
});
</script>
{% endif %}
<div style="margin-top: 50px">
  <h1 class="text-center">Assignment Marks</h1><br><br>
<button type="button" id="add_btn" class="btn btn-primary" style="float: right;">Upload CSV</button>
<a href="{% url 'dashboard_app:enroll_assignment_page' %}"><button id="cancel_btn" type="button" class="btn btn-danger" style="float: right;">Cancel</button></a>
</div>
  <div class="row" style="margin-top: 10px; min-height: 500px">
    <form method="POST" id="table_marks">
       {% csrf_token %}
    <table class="table">
      <thead>
        <th>Studnet</th>
        <th>Total</th>
        <th>Obtain Marks</th>
      </thead>
      <tbody>
        {% for i in st %}
        <tr>
          <td><input class="form-control" type="text" readonly value="{{i.s_student}}"></td>
          <td><input class="form-control" type="text" value="{{t_mark}}" readonly></td>
          <td><input class="form-control" type="number" name="{{i.s_student}}" value="0"></td>
        </tr>
        {% endfor %}
      </tbody>     
    </table>
    <button type="submit" id="form_save" class="btn btn-success save" style="float: right;">Save</button>
  </form>
  <div id="dialog">
    <label>Select CSV file</label>
    <form class="form-inline" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <input id="upload_btn" type="submit" class="btn btn-primary" name="upload_file_btn" value="Upload">
      <a class="glyphicon glyphicon-exclamation-sign" id="help"></a>
      <p id="disc_help"></p>
    </form>
  </div>
</div>
</div>
<script type="text/javascript">
  $('#help').click(function(){
    $('#disc_help').text('Header Must be Named "Assignment Title"')
  });

  $('#table_marksasd').on('submit',function(event){
    event.preventDefault();
    $.ajax({
      type:$(this).attr('method'),
      url:$(this).attr('action'),
      // data:{csrf:$('input[name="csrfToken"]').val() },
      success:function(data){
        console.log(data);
        alert('data Added successfully')
      },
      error:function(xhr,textStatus, errorThrown){
        alert(textStatus + ':' + errorThrown);
      }
    })
  })
</script>

{% endblock %}
